
<!DOCTYPE html>
<html>

<head>
 <meta charset="UTF-8">
 <title>CSS test</title>
 <!-- <link rel='stylesheet' href='//fonts.googleapis.com/css?family=font1|font2|etc' type='text/css'> -->






<style type="text/css">


/*@import "compass/css3";*/




body {

background-color: rgba(245, 245, 220, 1)
-webkit-font-smoothing: antialiased;

}

html:lang(en) h1 { color: green; font-size:2em; }

.flex-container1 {
 padding: 10;
 margin: 10;
 list-style: none;

/* display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
*/ display: flex;
opacity: 1;

 flex-direction: column;
 flex-wrap: no-wrap;

 /*-webkit-flex-flow: row wrap;*/
 justify-content: space-between;
 /*align-items: flex-start;*/
 align-items: flex-start;
}


.flex-item {
 background: rgba(183, 260, 188, 0.80);
 padding: 10px;
 /*width: 200px;*/
 /*height: 150px;*/
 margin-top: 5px;
 border-radius: 10px;
opacity: 1;

 /*flex-basis: 50px;*/
 /*height: 150px;*/
 /*min-width: 50px;*/
 /*max-width:500px;*/


 /*line-height: 150px;*/
 color: black;


 /*font-weight: bold;*/
 font-size: 1.3em;
 text-align: left;
 /*flex-shrink: 1;*/
 flex-grow: 50;
 box-shadow: 1px 1px 1px #a8a8a8;
}




</style>
</head>














<!-- BEGIN BODY -->
<body>
<h1>
test: this text should be green
</h1>
 <ul class="flex-container1">

<li class="flex-item">Tell me when you start on first slide</li>
<li class="flex-item">So i can give you exercises for it</li>
<li class="flex-item">So i can give you exercises for it test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test test </li>
<li class="flex-item">And you also need to print one of these to help you understand how the shake change slightly with place in Word</li>
<li class="flex-item">But not that difficult you will figure it out</li>
<li class="flex-item">The slides i sent so help you memorize quickly i hope</li>
<li class="flex-item">For first slide (which is actually slide 17!) try to listen to arabic vowel sounds on YouTube</li>
<li class="flex-item">Alif waw yaa</li>
<li class="flex-item">I think also on you tube they have animations for how to write them</li>
<li class="flex-item">After you master 1.the shape, 2.the signs ,3.how to write them, then time for excercise</li>
<li class="flex-item">For alif write Navid, but just substitute the A with arabic alif</li>
<li class="flex-item">Alif gives the sound s of A in Navid or obama, and also the sound of A in mAn</li>
<li class="flex-item">But not the normal sound of A like in gAy, smile!</li>
<li class="flex-item">Alif is straight not gay</li>
<li class="flex-item">When it comes in the beginning of Word it gets a glottal stop mark above it</li>
<li class="flex-item">Which is the controversial hamza</li>
<li class="flex-item">For now just know that because of pronouncing a stop with the throat when alif comes in start of Word, we mark it with this hamza, like the weird Apple</li>
<li class="flex-item">But it can come below the alif line the word Islam</li>
<li class="flex-item">Notice the difference in sound of the throat or glottal stop</li>
<li class="flex-item">Now you can write, mAn and substitute the A with alif</li>
<li class="flex-item">Now for the wow sound, it's shape is a whirl</li>
<li class="flex-item">Its name is waaw, the A is like the one in obAma</li>
<li class="flex-item">It looks like a 9</li>
<li class="flex-item">When it comes at the beginning of a word it is pronounced WU like in woman</li>
<li class="flex-item">Or wo like in wall</li>
<li class="flex-item">So remember Alif with mAn and waaw with WUman! Notice the curves, smile</li>
<li class="flex-item">Now you can write woman in English but substitute the wo with waaw</li>
<li class="flex-item">When it comes in the middle or end of a word it loses the W, and becomes just an U or O</li>
<li class="flex-item">So now write jUdO</li>
<li class="flex-item">In English and just substitute the letters with waaw</li>
<li class="flex-item">Also the word week</li>
<li class="flex-item">And now write this first word all in Arabic,  WoW</li>
<li class="flex-item">If you could write it then you had learned successfully the first and most important two letters/vowels of Arabic</li>
<li class="flex-item">The final vowel is Yaa'</li>
<li class="flex-item">Which is the last letter of arabic</li>
<li class="flex-item">It looks like a Y inverted 90 degrees</li>
<li class="flex-item">And it actually is a Y when it comes in the start of a word</li>
<li class="flex-item">The two dots below it, you can remember from the two dots in the yin Yang symbol</li>
<li class="flex-item">When it comes in the beginning it is a Yaa or Yuu or Yo depending on the diacritic symbols written above or below it (usually not written, these are the short vowel sounds, they are guessed from context)</li>
<li class="flex-item">Which is actually the most confusing thing for a beginner</li>
<li class="flex-item">The vowels when they are short are not written</li>
<li class="flex-item">They are written only when they are clear sounding or emphasized or long</li>
<li class="flex-item">Back to yaa' it is pronounced Y in the beginning of a word</li>
<li class="flex-item">And E in the middle or end</li>
<li class="flex-item">Now you can write Year</li>
<li class="flex-item">gIve</li>
<li class="flex-item">grEEn</li>
<li class="flex-item">gAYd</li>
<li class="flex-item">=guide</li>
<li class="flex-item">Also it has one more special sound, which is the gAy sound of A in mate, hate, nation, rate, blade</li>
<li class="flex-item">All those As are written with yaa</li>
<li class="flex-item">Focus on this because it confuses many even arabic speakers</li>
<li class="flex-item">To wind up t the vowels write</li>
<li class="flex-item">Way</li>
<li class="flex-item">Yo yo</li>
<li class="flex-item">Yaw</li>
<li class="flex-item">Wowy</li>
<li class="flex-item">And the name of the letter Y in English, write its sound using the vowels</li>
<li class="flex-item">End of lesson 1</li>
<li class="flex-item">Good luck</li>






<!--
 <li class="flex-item">1</li>
 <li class="flex-item">2.1 abc abc abc abcabcabc abc abc abc abc abc abc
 2.2 abc abc abc abcabcabc abc abc abc abc abc abc
 2.3 abc abc abc abcabcabc abc abc abc abc abc abc
 2.4 abc abc abc abcabcabc abc abc abc abc abc abc
 2.5 abc abc abc abcabcabc abc abc abc abc abc abc</li>
 <li class="flex-item">3</li>
 <li class="flex-item">4</li>
 <li class="flex-item">5</li>
 <li class="flex-item">6</li>
</ul>






<ul class="flex-container1">
 <li class="flex-item">1</li>
 <li class="flex-item">2 abc abc abc abcabcabc abc abc abc abc abc abc</li>
 <li class="flex-item">3</li>
 <li class="flex-item">4</li>
 <li class="flex-item">5</li>
 <li class="flex-item">6</li>
</ul>
 -->





 </body>








































</html>


