<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1.5px solid #111aaa;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dea;
            }
        </style>

        <title>Quran Analysis Project</title>
    </head>

    <body>


<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Quran Analysis Project</a>
    </div>
  </div>
</nav>


<div class="container">

{% for comment in comments %}
    <div class="row">
        {{ comment.content }}
    </div>
{% endfor %}

        <div class="row">
            <form action="." method="POST">
                <textarea class="form-control" name="contents" placeholder="Enter an Arabic word or phrase"></textarea>
                <input type="submit" name="submit" value="Calculate TGV">
            </form>
        </div>

        <div class="row">
            <form action="." method="POST">
                <input type="submit" name="submit"  value="Clear">
            </form>
        </div>

<!--Verse query-->

<!--{% print(t) %}-->
<br>
Query verse from Quran, either by verse and number, or by English or Arabic content:
        <div class="row">
            <form action="." method="POST">
                <textarea class="form-control" name="contents" placeholder="Enter sura and verse in this format: [sura]:[verse] (e.g. 1:1). Or enter English or Arabic search text."></textarea>
                <input type="submit" name="submit" value="Get verse">
            </form>
        </div>

<br>

<table>
    <tr>
        <th>Sura #</th>
        <th>Verse #</th>
        <th>Arabic</th>
        <th>English</th>
    </tr>
{% for x in verses %}
    <tr>
        <td>{{x.nSura}}</td>
        <td><a href="http://masjidtucson.org/quran/frames/ch{{x.nSura}}.html#{{x.nVerse}}" target="_blank"> {{x.nVerse}} </a></td>
        <td>{{ x.ar }}</td>
        <td>{{ x.eng }}</td>
    </tr>
{% endfor %}
</table>
<br><br>

</div><!-- /.container -->

    </body>
</html>