<nav class="nav flex-column">
    <a class="nav-link" href="/arabic-lessons">Welcome Page</a>
    <!-- <a class="nav-link" href="/lesson1">Lesson 1 &mdash; ا ل م</a> -->
    <a class="nav-link" href="/part1">Chapter 1</a>
    <a class="nav-link" href="/part2">Chapter 2</a>
    <a class="nav-link" href="/part3">Chapter 3</a>
    <a class="nav-link" href="/part4">Chapter 4</a>
    <a class="nav-link" href="/slides">Slides</a>
    <a class="nav-link" href="/carousel">Carousel</a>
    <a class="nav-link" href="http://arabicquick.com/content/uploads/2014/12/Learn_Arabic_Alphabet_charts.pdf">Shape Chart</a>
    <!-- <a class="nav-link" href="/lesson3">Lesson 3</a> -->
</nav>