<!--

    <div class="lesson-container">
        <h4>Lessons 13-14</h4>
        <div class='lesson'>
            <p>
            </p>
        </div>
    </div>
    <br>
    
    <div class="exercise alert alert-warning">
        <h4 class="alert-heading">Exercises</h4><hr>
        <p class="mb-0">
        </p>
    </div>
    
    <div class="answer-container alert alert-success">
        <h4 class="alert-heading">Answers</h4><button class='btn btn-info'>Show</button>
        <p class="answer mb-0">
        </p>
    </div>
    
-->

<div class="lesson-container">
    <h4>Lessons 13-15</h4>
    <div class='lesson'>
        <p>
            So now you're getting familiar with the letters. They ain't that difficult right? Lesson 13, page 19: The next letter
            is called THaal. It looks like a d but with a dot above it. You put the tip of your tongue between your front
            teeth. Pronounced similar to the English THE. If you remember on page 11 we took another letter Thaa, ث, which
            also needs the top of the tongue to stick in between the front teeth. 
        </p>
        
        
        <p>
            Lesson 14, page 20: This letter could be confused with the previous letter so pay extra attention to
            the sound. If you pronounce mother in the American way, the THA sound in mothaa is a heavy sound of thaal (the
            previous letter page 19). Just a different tone, a magnified sound of the English The.
        </p>
        
        
        <p>
            Lesson 15, page 21: The next letter is a heavy D! It's a unique letter that's why they
            call Arabic the language of Daad. It is like the sound of the D in DUck but with stress on DU. Thus it is a magnified
            D. 
            
        </p>
    </div>
</div>
<br>


<div class="exercise alert alert-warning">
    <h4 class="alert-heading">Exercises</h4><hr>
    <p class="mb-0 ">
        Try to write Abu THAbi, which is a city written Abu Dhabi.<br>
        Now write: bathtub, the good, the bad, the egg. <br>
        Write: bud, dub, mud.
    </p>
</div>


<div class="answer-container alert alert-success">
    <h4 class="alert-heading">Answers</h4><button class='btn btn-info'>Show</button>
    <p class="answer mb-0">
        Abu Dhabi أب ظابي
        Bathtub باذتب
        The good ذا جود
        The bad ذا باد
        The egg ذا إج 
        Bud بض
        Dub ضب
        Mud مض
    </p>
</div>

<br>
<div class="lesson-container">
    <h4>Lesson 16-18</h4>
    <div class='lesson'>
        <p>
            Lesson 16, page 22: A straightforward F sound. 
        </p>
        
        <p>
            Lesson 17, page 23: Q letter. A bit heavier sounding than English Q. You can remember the two dots by the quotation marks ". The first letter in QRaaN. I don't know English words with this sound. 
        </p>
        
        <p>
            Lesson 18, page 24: This is a k sound. I like the pictograph I made of this letter. Note that when it comes at the end of Word it has a glottal stop sound. Like the sound at the very end of Book'. That's why it's written with a glottal stop. So not the different shape at the end of a word. Note. Note the different shape. 
        </p>
    </div>
</div>
<br>


<div class="exercise alert alert-warning">
    <h4 class="alert-heading">Exercises</h4><hr>
    <p class="mb-0">
        Write: Fiji, fresh, freeze, fights, suffer, rough, fruit, fish. <br>
        Write: Qatar, Qaarib=boat, Qersh=shark, Raqeeq=fragile.<br>
        Write: fax, zirox, express, cocoa, Texas, car, cat, Costa Rica, Africa, Wikipedia, cafeteria, cafe, cab.
    </p>
</div>


<div class="answer-container alert alert-success">
    <h4 class="alert-heading">Answers</h4>
    <button class='btn btn-info'>Show</button>
    <!-- <hr> -->
    <p class="answer mb-0">
        Fiji فيجي
        Suffer صفر
        Fruit فروت 
        Qatar قطر
        Qaarib قارب 
        Qersh قرش
        Raqeeq رقيق
        Fax فاكس
        Zirox زيراكس
        Africa افريكا
        Cafe كافي
        Can كان
    </p>
</div>