<!--

    <div class="lesson-container">
        <h4>Lessons 13-14</h4>
        <div class='lesson'>
            <p>
            </p>
        </div>
    </div>
    <br>
    
    <div class="exercise alert alert-warning">
        <h4 class="alert-heading">Exercises</h4><hr>
        <p class="mb-0">
        </p>
    </div>
    
    <div class="answer-container alert alert-success">
        <h4 class="alert-heading">Answers</h4><button class='btn btn-info'>Show</button>
        <p class="answer mb-0">
        </p>
    </div>
    
-->

    
    <div class="lesson-container">
        <h4>Lesson 19-21</h4>
        <div class='lesson'>
            <p>
                Lesson 19, page 25: This letter is an English L sound. Easy to remember as it resembles a leg. Note the full shape
                when it comes at the end of the word or when standalone has a ring at the bottom. 
            </p>
                
                
            <p>
                Now we have taken the 5 letters that are connected only to the preceding letter. ا. و. ر. د. ذ. These letters
                never connect after. Usually when you write you leave the letter open (open dash, not closed) until you reach
                the next letter. However with those 5 letters you may close them since they don't get connected to the letter
                coming after them in a word. Example: دار =Home. The D is closed, the alef also stops and is not connected to
                the R after it. If we write "gap" in Arabic letters. جاب. The alif gets connected only to the preceding G. Usually
                you will keep extending the G with an open dash (without closing it with the ring) until you meet the next letter
                which is an alif in this case. Then since the alif is one of the 5 letters (you can remember them with the word
                ZADOR) therefore it stops there, then you start with the next letter. 
            </p>
                    
            <p>
                Lesson 20, page 26: This is one of the
                easy letters to remember the M. Same sound like the English M. 
            </p>
                        
                        
            <p>
                Lesson 21, page 27: Straightforward N sound. 
            </p>
                
        </div>
    </div>
    <br>
    
    
    
    <div class="exercise alert alert-warning">
        <h4 class="alert-heading">Exercises</h4><hr>
        <p class="mb-0">
            Exercises for ل (L): leg, legacy, flevor (there is no V in Arabic, usually written as F). But there are no Arabic words with V. <br><br>
            Exercises for م (M): mama, mira, alarm, Hakim, AHmad, Majorie, Marius, Sade, Mervet, Mohamad= MHMD (because the story vowels are omitted), Marcos, Barak Obama, Mac.  <br><br>
            Exercises for ن (N): Navid, lagoon, man, woman, neglect, north, throne, anarchy, end.
        </p>
    </div>

    
    
    <div class="answer-container alert alert-success">
        <h4 class="alert-heading">Answers</h4>
        <button class='btn btn-info'>Show</button>
        <!-- <hr> -->
        <p class="answer mb-0">
            Leg لج
            Flavor فليفر
            Mama ماما
            Ahmad احمد
            Muhammad محمد
            Mac ماك
            Navid نفيد
            Marius ماريوس
            Lagoon لاجون
            Throne ثرون
            Anarchy اناركي
            End إند
        </p>
    </div>
    <br>
    
    
    <div class="lesson-container">
        <h4>Lessons 22-23</h4>
        <div class='lesson'>
            <p>
                Lesson 22, page 28: straightforward h, same as English h. Notice the difference in shape among the start, middle, and standalone variants. 
                Notice that when it comes at the end of the word (connected to preceding
                letter) it might be confused with the shape of a special character called the knotted T, ة. That knotted T comes
                only at the end of a word denoting the female gender of the word (yes words in Arabic have gender!). The confusing
                shape at the end, resembles an H but with an added two dots (like the letter T. However they both are pronounced H!
            </p>
            
            
            <p>
                Lesson 23, page 28: Same as we did with the twin letters ح and خ. This is another twin. The letter 'A called 'Aayn (which means eye in Arabic). And the twin which comes with the same shape but with a dot above it denoting
                the negative traits of it! The twin's name is GHayn. The gh has a special pronunciation same like the french pronunciation of the R, a gargling sound that comes from the back ceiling of the mouth. But the good brother
                'Ayn needs you to use a muscle in your throat. It can be done if you press gently on your Adam's apple while saying
                apple. It needs some practice, but it's important at least for the simple fact that the very word Araby or Arabic
                starts with it! 
            </p>
                
            <p>
                Words starting with the good brother 'Ayn: Bride, work, car, flag, honey, perfume, mind, justice.
                Words starting with the naughty brother Ghayn: Strange cheater meager angry stupid heedless mistake. Even the sound of it is not very clean! However, we can still appreciate, I just use this story to fix it in your mind
                with associations. 
                
            </p>
        </div>
    </div>
    <br>
    
    
    <div class="exercise alert alert-warning">
        <h4 class="alert-heading">Exercises</h4><hr>
        <p class="mb-0">
            Exercises: hand, hunter, human, alcohol, foghorn.<br><br>
            Exercises for ع 'Ayn: write honey in Arabic, 'Asal. Write work, 'Amal. Write Arabic, 'Araby. Write exhibition, Ma'AraD. Write he sold, Baa'A. <br><br>
            Exercises for غ GHayn: Write strange, GHaReeB. Write he forgives,
            YaGHFeR. Write emptiness (of space or time), FaRaaGH. Note that when I write a long vowel like aa, ee, it should be written, but when it is short it's omitted like a, e. <em>End.</em>
        </p>
    </div>
    
    
    
    <div class="answer-container alert alert-success">
        <h4 class="alert-heading">Answers</h4>
        <button class='btn btn-info'>Show</button>
        <!-- <hr> -->
        <p class="answer mb-0">
            Hand هاند 
            Human هيومن 
            'Amal عمل 
            'Araby عربي
            Ma'AraD معرض
            Ghareeb غريب
            Faraagh فراغ
        </p>
    </div>
    
    <br>