<div class="lesson-container">
    <h4>Lesson 1 <!-- &mdash; ا و ي --></h4>
    <div class='lesson'>
        <p>
            The first lesson consists of the Arabic letters alif, waw, and yaa. After you master (1) the shape, (2) the signs, and (3)
            how to write them, then time for the exercises. Alif gives the sounds of the A in N
            <b>a</b>vid or Ob<b>a</b>ma, and also the sound of A in m<b>a</b>n. But not the normal sound of A like in g<b>a</b>y,
            smile! Alif is straight not gay. When it comes in the beginning of Word it gets a glottal stop mark above it.
            Which is the controversial hamza. For now just know that because of pronouncing a stop with the throat when alif
            comes in start of Word, we mark it with this hamza, like the weird Apple. But it can come below the alif like
            the word Islam. Notice the difference in sound of the throat or glottal stop.
        </p>

        <div class="exercise alert alert-warning">
            <h4 class="alert-heading">Exercises</h4>
            <hr>
            <p class="mb-0">
                Now you can write m<b>a</b>n and N<b>a</b>vid, substituting the A with alif.
            </p>
        </div>




        <p>

            Now for the wow sound, its shape is a whirl. Its name is waaw, and the A is like the one in ob<b>a</b>ma. It
            looks like a 9. When it comes at the beginning of a word it is pronounced "wu" like in woman. Or "wo" like in
            wall. So remember Alif with m<b>a</b>n and waaw with w<b>u</b>man! Notice the curves, smile. it comes in the
            middle or end of a word it loses the W, and becomes just a U or an O.
        </p>

        <div class="exercise alert alert-warning">
            <h4 class="alert-heading">Exercises</h4>
            <hr>
            <p class="mb-0">
                Write woman in English but substitute the "wo" with waaw. Write j<b>u</b>d<b>o</b> and <b>w</b>eek. Now write
                this first word all in Arabic, <b>w</b>o<b>w</b>. If you could write it then you had learned successfully
                the first and most important two letters/vowels of Arabic.
            </p>
        </div>






        <p>
            The final vowel is Yaa'. Which is the last letter of Arabic. It looks like a Y inverted 90 degrees. And it actually is a
            Y when it comes in the start of a word. The two dots below it, you can remember from the two dots in the Yin
            and Yang symbol. When it comes in the beginning it is a Yaa or Yuu or Yo depending on the diacritic symbols written
            above or below it (usually not written, these are the short vowel sounds, they are guessed from context). Which
            is actually the most confusing thing for a beginner. The vowels when they are short are not written. They are
            written only when they are clear sounding or emphasized or long. Back to yaa', it is pronounced Y in the beginning
            of a word, and E in the middle or end. Also it has one more special sound, which is the g<b>a</b>y
            sound of A in mate, hate, nation, rate, blade. All those As are written with yaa. Focus on this because it confuses
            even many arabic speakers. End of lesson 1. Good luck.
        </p>

        <div class="exercise alert alert-warning">
            <h4 class="alert-heading">Exercises</h4>
            <hr>
            <p class="mb-0">
                Write <b>y</b>ear, g<b>i</b>ve, gr<b>ee</b>n, and g<b>ui</b>de. To wind up the vowels write: way, yo-yo,
                yaw, wowy, and the name of the letter Y in English.
            </p>
        </div>


    </div>
</div>



<div class="answer-container alert alert-success">
    <h4 class="alert-heading">Answers</h4>
    <button class='btn btn-info'>Show</button>
    <!-- <hr> -->
    <p class="answer mb-0">
        Alif: mاn, Nاvid 
        Wow: jوdو ,وeek, واو 
        Yaa': يear, gيve, grيn, gيde 
        Summary: وي , يو-يو , ياو , ووي , واي
    </p>
</div><br>


<div class="lesson-container">
    <h4>Lessons 2, 3, & 4</h4>
    <div class='lesson'>
        Please see page 5 on the slides: the B sound. Then lesson 3 is the letter TA, which I call the magnified T. It's a T but
        heavier in sound. Lesson 4, page 7, is the regular T, quite easy and straightforward.
    </div>
</div>
<br>


<div class="exercise alert alert-warning">
    <h4 class="alert-heading">Exercises</h4>
    <hr>
    <p class="mb-0">
        Write these words: baba (same like papa, because there is actually no p sound!), booboo, baby. Then write first two letters
        of police and complete with lice in English. Finally, write: TAco, BuTt, TAbeeb (doctor in Arabic), Toob (adobe or
        bricks), two, too, boot, tab, tight (that's tricky!).
    </p>
</div>


<div class="answer-container alert alert-success">
    <h4 class="alert-heading">Answers</h4>
    <button class='btn btn-info'>Show</button>
    <!-- <hr> -->
    <p class="answer mb-0">
        Baba بابا 
        Booboo بوبو 
        Baby بيبي 
        Police بوlice 
        Taco طاco 
        Butt بط 
        Tabeeb طبيب 
        Toob طوب 
        Two طو 
        Too تو 
        Boot بوت 
        Tab تاب 
        Tight طايت
    </p>
</div>

<br>

<div class="lesson-container">
    <h4>Lessons 5 & 6</h4>
    <div class='lesson'>
        <p>
            Lesson 5, page 8: G. This letter has a dual nature, like the English G. The English G is pronounced differently in the two
            words green and page. The Arabic standard pronunciation is J like in Japan. However in some dialects like Egyptian
            it is pronounced G like in green. So let's say both are correct and understandable, so choose whichever pronunciation
            from both. Note: there are 5 letters that can be connected only to the preceding letters, namely: alef, wow,
            and the others coming soon. Basically connecting letters is easy, you just use a dash to connect, going from
            right to left. But notice that usually the standalone (or a more accurate name, the full shape) shape of some
            letters changes a bit when it comes at the end of a word. Just by adding an open ring usually to the right or
            to the left. Like this G/j: ج. Or just جبل. When it is connected to the letter after it, it continues moving
            instead of closing with the curved ring. Try to use a pencil to write, don't type only.
            
        </p>
    </div>

    <div class="exercise alert alert-warning">
        <h4 class="alert-heading">Exercises</h4>
        <hr>
        <p class="mb-0">
            Write: gaat, gut, jeep, job, big, bag, and Togo. Note that the I in the beginning of a word like Islam is written with an
            alif, but below this alif is a hamza (glottal stop) to denote the E sound. Now write Egypt. Write: stop. swiss. site
            (write the vowels here for practice even if they are short). pizza=peetsa. space. goose. city. Write: saga. sub.
            substitute.
        </p>
    </div>
    <!-- <br> -->
    
    <div class='lesson'>
        <p>
            Lesson 6, page 9: S. That letter looks like a snake indeed both in Arabic and in English! Note how the standalone or final
            shape closes with a ring (a bit different ring than the G though but same idea). Now the letter SA. This letter
            is peculiar to Arabic. And I call it the heavy S. Listen to it on YouTube and you will see it is a magnified
            S.
        </p>
    </div>

    <div class="exercise alert alert-warning">
        <h4 class="alert-heading">Exercises</h4>
        <hr>
        <p class="mb-0">
            Write: stop, swiss, and site (write the vowels here for practice even if they are short). Write pizza=peetsa, space, goose, city, saga, sub, and substitute.
        </p>
    </div>
    <br>


</div>


<div class="answer-container alert alert-success">
    <h4 class="alert-heading">Answers</h4>
    <button class='btn btn-info'>Show</button>
    <!-- <hr> -->
    <p class="answer mb-0">
        Gaat جات 
        Gut جط 
        Jeep جيب 
        Job جوب 
        Big بج 
        Bag باج 
        Togo توجو 
        Egypt إجيبت.
        Stop ستاب 
        Swiss سويس 
        Site سايت 
        Pizza بيتسا 
        Space سبيس 
        Goose جوس 
        City سيتي 
        Saga صاجا 
        Sub صب 
        Substitute صبستيتيوت
    </p>
</div>

<br>
<br>