<div class="lesson-container">
    <h4>Lesson 7-10</h4>
    <div class='lesson'>
        <p>
            Lesson 7, page 11. This letter is a straightforward sound "th", like in thrust or ruthless. Lesson 8, page 12. This is the easiest letter, R. Lesson 9, page 13. SH simple letter, like the sound of SHrimp. Lesson 10, page 14. Same sound like the Z in Zinc. 
        </p>
    </div>
</div>
<br>

<div class="exercise alert alert-warning">
    <h4 class="alert-heading">Exercises</h4>
    <hr>
    <p class="mb-0">
        Write: bathtub, booth, Ethiopia. 
        Write: robe, group, rugby, yogurt, strap, Rita, great, Georgia, Greece, Peru, port, Syria, brush, butter, Tora Bora, theater, Austria. 
        Write: sure, shop, sugar, sharp, patch, ciao, sheet, cheat, shut, shutter, British, Russia. 
        Write: zoo, pose, bozo, ziro, zigzag, rose, rise, jazz, Zambia.
    </p>
</div>


<div class="answer-container alert alert-success">
    <h4 class="alert-heading">Answers</h4>
    <button class='btn btn-info'>Show</button>
    <!-- <hr> -->
    <p class="answer mb-0">
        Bathtub باثطب
        Booth بوث
        Ethiopia إثيوبيا
        Robe روب
        Group جروب
        Rugby رجبي
        Yogurt يوجرت
        Strap ستراب
        Rita ريطا
        Sure شر
        Shop شاب
        Sugar شوجر
        Zoo زو
        Pose بوز
        Bozo بوزو
    </p>
</div>

<br>

<div class="lesson-container">
    <h4>Lesson 11</h4>
    <div class='lesson'>
        <p>
            Lesson 11, page 15. The next two letters should be studied together. They are like two opposite twin brothers. The one in page 15 is HA. it's pronounced like a heavy h. Or to be more accurate like the sound you make when you blow air from your throat into your hands during winter when it's cold, to make it warm. That's why this letter is related to warmth, heat and feelings as we shall see. Arabic uses the whole range of sounds we can produce, from the top of the tongue back till the middle of the throat. This letter comes from the deepest place! I guess that's why it's related to emotions. There are many words that start with this letter which convey the meanings of heat and feelings. حب love. حرب war. (heat of the battle!). حفلة party. (hot party!). Hhobb=love, Hharb=war. Hhafla=party. Also Hharara=heat. Hhatab=firewood. Hhayy=Alive. Hhorreyya= freedom. Hhess=emotion. Hhanaan=kindness. FaraHh=wedding. Or=happiness. JarHh=wound (can be emotional wound).
        </p>
        
        <p>
            So as you can see that letter is unique Subhanallah. If you pronounce it right you will feel that it's coming from deep inside your throat, actually from a deeper place in your lungs near your heart!. So it is a very expressive letter. In the other hand his twin brother is a loser, that's why we differentiate him by an added dot. The sound here is more superficial. Coming from the top of the throat. Like the hocking sound when people spit! And look the ugly insensitive words related to this letter Kha in contrast with its twin Hha. Kha'ef= afraid. Kha'en=traitor. Kharaab=destruction. Khatima=ending. Khaser=loser. Khabeeth=cunning. Khadsh=scratch (superficial!). Khed'a=trick. Khorda=scrap. Kharif=autumn. Khodoo'a=yielding. Khateer=dangerous.
        </p>
        
        <p>
            Of course not all the words that have that letter are negative, but this is the general feel of the letter even the sound is a bit ugly! Study these two contrasting twin letters together and you will never forget them. 
        </p>
        
    </div>
</div>
<br>

<div class="exercise alert alert-warning">
    <h4 class="alert-heading">Exercises</h4>
    <hr>
    <p class="mb-0">
        Write: Hhabeeby=my lover. This is a recurring word in most arabic songs! KhuTt=handwriting or line. Kharab= destruction. And don't forget to write Hhob=love. And Hhasaas=sensitive. Pay attention to the long and short vowels that are not written. You can check pronunciation on forvo.com. 
    </p>
</div>

<div class="answer-container alert alert-success">
    <h4 class="alert-heading">Answers</h4><button class='btn btn-info'>Show</button>
    <p class="answer mb-0">
        Habeeby حبيبي
        Khutt خط
        Kharab خراب
        Hob حب
        Hassass حساس
    </p>
</div>

<div class="lesson-container">
    <h4>Lesson 12</h4>
    <div class='lesson'>
        <p>
            Lesson 12, page 18: This letter is super easy and straightforward. Same like the English D. This is the third letter after alif and waw that connects only to the letter before it and doesn't connect after. 
        </p>
    </div>
</div>


<div class="exercise alert alert-warning">
        <h4 class="alert-heading">Exercises</h4>
        <hr>
        <p class="mb-0">
            Write: drop, dash, shade, bad, bed, door, dice, dog, dot, ideas (tricky), Chad (country name).
        </p>
    </div>
    


<div class="answer-container alert alert-success">
    <h4 class="alert-heading">Answers</h4><button class='btn btn-info'>Show</button>
    <p class="answer mb-0">
        Drop دراب
        Dash داش
        Dog داج
        Ideas ايدياز  
    </p>
</div>
