<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}



    <title>Hello, world!</title>


    <style>
        /* body {
            background: url("https://images.unsplash.com/photo-1531386450450-969f935bd522?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0e6037f0a7cd63b48cc1562e348eb3a&auto=format&fit=crop&w=1950&q=80");
        } */

        /* .main {
            background: rgba(240, 240, 220, 0.845);
            padding: 25px;
            border-radius: 21px;
            max-width: 1020px;
            margin: 50px auto;
        } */

        p {
            font-size: 120%;
        }
    </style>


</head>

<body>

    test slides
    
    <!-- <div style="width: 100%; height: 100%">
    <embed src="{{url_for('static', filename='cig100_ib.pdf')}}" height="100%" width="100%">
    </div> -->

</body>

</html>